[Desktop Entry]
Name=Background Manager
Type=Application
Icon=com.github.pstroka.BackgroundManager
Exec=bg-manager
Terminal=false
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
Categories=COSMIC
Keywords=COSMIC
MimeType=
