[Desktop Entry]
Name=Background Manager
Comment=Background manager for the COSMIC™ desktop
Type=Application
Icon=preferences-desktop-wallpaper
Exec=bg-manager %F
Terminal=false
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
Categories=COSMIC
Keywords=COSMIC
MimeType=
